@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
  --mainPurple: #8e5bc2;
  --hoverPurple: #702fb1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Orbitron";
  src: url("/font/orbitron.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

@keyframes move {
  from{bottom: 0%}
  to{bottom: 100%}
}
